.cm-editor {
    .pg-cm-toolbar.cm-panel {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem 1rem;
        margin: 0.5rem 1rem 0.5rem 1rem;
        font-size: 12px;

        .pg-cm-toolbar-item {
            display: flex;
            flex-wrap: nowrap;
            gap: 0.5rem;
            align-items: center;
        }
    }
}
